@mixin animated-outline(
  $colors:
    linear-gradient(90deg, #356046, #173121, #3b7b56, #095535, #1b4731, #2f5942)
) {
  position: relative;
  z-index: 0;
  &::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: inherit;
    background: $colors;
    opacity: 25%;
    filter: blur(5px);
    background-size: 300%;
    z-index: -1;
    animation: outlineAnimation 20s linear infinite;
  }
}
@keyframes outlineAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
