$mobile-breakpoint: 480px;
$tablet-breakpoint: 720px;
$tablet-landscape-breakpoint: 1024px;
$desktop-breakpoint: 1280px;
$big-desktop-breakpoint: 1920px;

//-----Colors-----
$primary-white: #f1f7f2;
$bg-color: #07160c;
$border-color: rgb(178, 255, 218);
$darkest-green: #121f05;
$dark-forest-green: #242e25;
$mid-forest-green: #2a412f;
$green: #376336;
$light-green: #508d4e;
$dark-turquoise: #13443a;
