.salmon {
  // background-color: rgb(21, 23, 21);
  &__list {
    padding: 1rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__item {
    margin: 0.25rem;
    text-align: center;
    border: #6a9c89 5px solid;
    background-color: #c1d8c3;
    border-radius: 1.5rem;
    width: 100%;
    font-size: 3rem;
  }
  &__namecard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &__title {
    font-family: "Nunito";
    font-size: 2.5rem;
    width: 10rem;
    text-align: left;
    color: #2c3930;
  }
  &__image-card {
    width: 9rem;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }

  &__image-card--hide {
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
  }

  &__image {
    max-width: 80%;
    height: auto;
  }
  &__details-list {
    list-style: none;
    text-align: left;
  }
  &__details-item {
    font-size: 1rem;
    border: #6a9c89 2px solid;
    background-color: #acc3ae;
    border-radius: 1rem;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
  }
  &__text {
    font-size: 1rem;
  }
}
