@use "../../styles/partials/mixins" as *;

.salmon {
  &__header {
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    margin: 1rem;
    background-color: #6f7870;
    border-radius: 1rem;
  }
  &__subheader {
    font-weight: 700;
    text-align: center;
    padding: 0.5rem 0;
  }
  &__list {
    padding: 1rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__item {
    margin: 0.25rem;
    text-align: center;
    border: #517d6c 2.5px solid;
    background: linear-gradient(rgb(3, 3, 3, 0.5), rgba(32, 32, 32, 0.1)),
      url("../../assets/images/underwater.jpg");
    background-position: center;
    background-size: cover;
    @include animated-outline;
    background-color: #c1d8c3;
    border-radius: 1.5rem;
    width: 100%;
    font-size: 3rem;
    padding: 0 1rem;
  }
  &__namecard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &__title {
    font-family: "Nunito";
    font-size: 2.5rem;
    width: 10rem;
    text-align: left;
    color: #ffffff;
  }
  &__image-card {
    width: 9rem;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  }

  &__image-card--hide {
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
  }

  &__image {
    max-width: 80%;
    height: auto;
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__icon {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    color: black;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__icon--exit {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__details-list {
    list-style: none;
    text-align: left;
    width: 100%;
    color: white;
  }
  &__details-item {
    font-size: 1.25rem;
    border: #8baa9e 2.5px solid;
    background-color: #0c220e83;
    border-radius: 1rem;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    @include animated-outline;
  }
  &__text {
    font-size: 1.75rem;
    color: white;
  }
}
